body {
   font-family: sans-serif;
   line-height: 5.6;
   margin: 0;
   padding: 0;
   background: url("../images/sp.png");
   background-position: center;
  
   z-index: -10;
   color:#fff;
   
}

header {
    color: #fff;
    padding: 1px;
    margin-top: 0px;
    text-align: center;
    }

.image-row {
   display:flex;
   justify-content: center;
   gap: 20px;
   padding: 40px;
    }

.image-row img  {
   width: 50px;
   height: 50;
   border-radius: 1px;
   }



.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba (0,0,0,0.1);
    }

 footer  {
    text-align: center;
    padding: 20px 0;
    color: #fff;
    margin-top: 40px;
    }
